body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 4%;
  color: rgb(0, 81, 83);
  margin-bottom: 2ch;
}

h1 {
  text-align: center;
  color: brown;
}

h2 {
  color: darkcyan;
}

#reset {
  color: red;
}

#submit {
  color: rgb(21, 104, 0);
}

/* Centering the placeholder */
::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  text-align: center;
}
::-moz-placeholder {
  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}
